.current-time-line {
    grid-column: 1 / -1;
    height: 0px;
    border-top: 1px solid #f007;
    box-shadow: 0 0 5px red;
    z-index: 200;
    pointer-events: none; /* Az egérműveletek nem akadályozzák */

    /* Pulzáló animáció */
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}