.current-time-line {
    grid-column: 1 / -1; /* Az első oszloptól az utolsóig húzódik */
    background-color: red;
    height: 1px; /* A vonal vastagsága */
    pointer-events: none; /* Az egérműveletek nem akadályozzák */
}
