.current-time-line {
    display: none; /* Mobilon/grid nélkül ne látszon, mert csak a grid-nél van értelme */
}

@supports( display:grid ) {
	@media screen and (min-width:600px), print {

        .current-time-line {
            display: grid;
            grid-column: 1 / -1;
            height: 0px;
            border-top: 2px solid #f007;
            box-shadow: 0px 0px 10px 3px #f007;
            z-index: 200;
            pointer-events: none; /* Hogy az egérműveletek ne akadályozzák */

            /* Pulzáló animáció */
            animation: pulse 3s ease-in-out infinite;
        }

        @keyframes pulse {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

    }
}  