.current-time-line {
    position: absolute;
    width: 100%; /* A grid teljes szélességére nyúlik */
    height: 1px;
    background-color: red;
    z-index: 10; /* Biztosítja, hogy a vonal látható legyen */
    pointer-events: none; /* Az egérrel ne lehessen rá kattintani */
}
