.dev-footer {
    display: flex;
    gap: 16px;
    align-items: center;
	flex-wrap: wrap;
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 25px;
    opacity: 0.15;
    transition: all 0.2s ease;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
    .dev-footer:hover {
        opacity: 1;
        transition: all 0.2s ease;
    }

.dev-footer .dev-footer-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
    padding: 8px 12px 8px none;
    border-radius: 6px;
	white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s ease;
}

.dev-footer:nor(:hover) .dev-footer-item {
    opacity: 1;
}


    .dev-footer:hover .dev-footer-item {
            opacity: 0.8;

    }

    .dev-footer:hover .dev-footer-item:hover {
        color: rgba(255, 255, 255, 0.9);
        opacity: 1;
        transition: all 0.2s ease;
    }

.dev-footer-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    stroke: currentColor;
    fill: currentColor;
}
