
/* Barát kiemelt eseménye */
.session.friend-highlight:not(.highlighted) {
    border-color: rgba(255, 193, 7, 0.9); 
	background-color: rgba(255, 193, 7, 0.5); ;
}

/* Barátok listájának stílusa */
.friends-list {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    font-style: italic;
}
