
/* Barát kiemelt eseménye */
.session.friend-highlight:not(.highlighted) {
    border-color: #ffc107; /* Sárga szín a barátok kiemeléséhez */
}

/* Barátok listájának stílusa */
.friends-list {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    font-style: italic;
}
