
/* Barát kiemelt eseménye */
.session.friend-highlight:not(.highlighted) {
    border-color: rgba(6, 135, 255, 0.2); 
	background-color: rgba(6, 166, 255, 0.2); ;
}

/* Barátok listájának stílusa */
.friends-list {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    font-style: italic;
}
