@charset "UTF-8"; 

* {
	margin: unset;
	padding: unset;
	white-space:unset;
	line-height: unset;
	list-style-type: none;
	border: unset;
	outline: unset;
	background: unset;
}

/* https://madeinpecsfesztival.hu/wp-content/themes/mipf-child/assets/fonts/mipfeszt-regular.woff2 */
@font-face {
	font-family: 'MIPFESZT_02';
	src: url('/fonts/mipfeszt-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}


:root {

	--header-background-color: #ffffff;

	--primary-text-color: #6e909d;
	--secondary-text-color: #6e909d;
	
	--highlight-color: #ee7a68;

	--primary-time-color: #ee7a68;
	--secondary-time-color: #193e4d;

	--venu-slot-background-color: #ee7a68;
	--venu-slot-text-color: #ffffff;

	--primary-background-color: #193e4d;
	--secondary-background-color: #284d5c;



	--event-highlight-color: #0067bb;

	font-family: ui-monospace, monospace;
	font-size: 14px; 
	line-height: 20px;
	color: var(--primary-text-color)

}


.mipfeszt {
	font-family: 'MIPFESZT_02', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.mipf-logo {
	height: 80px;
}


body {
	background-color: var(--primary-background-color);
}

button, 
input {
	/*font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
	font-family: ui-monospace, monospace;
	color: white;
	cursor: pointer;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: var(--primary-text-color);
	text-decoration: none;
}

a:hover {
	color: var(--highlight-color)
}

header {
	height: 100px;
	padding: 25px 25px 25px 80px;
	background-color: var(--header-background-color);
}

/* Mobilon a header tartalma (a logo) középre van igazítva */
@media screen and (max-width: 600px) {
	header {
		text-align: center;
		padding: 25px 0 25px 0;
	}
	
}

	
main,
footer {
	padding: 10px 25px 10px 25px;
	margin: 0 auto 0 auto;
}



h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5rem;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2rem;
	margin-bottom: 0.5rem;
}


article {
	padding: 25px 10px 25px 10px;
	font-size: 1rem;
	margin: 0 auto 0 auto;
	margin-top: 0px;
	text-align: center;
}


	article:first-of-type {
		margin-top: -22px;
	}

	article.box {
		background-color: var(--secondary-background-color);
		border-radius: 5px;
		border: rgba(0, 0, 0, 0.5);
	}

	article p {
		text-align: left;
		line-height: 1.2em;
	}

	article.fentvonal {
		margin-top: 25px;
		border-top: 1px solid red;
	}

/*

	FOOTER

*/

footer {
	max-width: 100%;
	margin: 25px auto 0 auto;
	padding: 25px 25px 50px 25px;
	font-size: 1em;

	background-color: var(--secondary-background-color);
}

	footer p {
		line-height: 1.5em;
		margin-top: 1.5em;
	}


.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.red {
	color: var(--varning-color);
}

