


/* Small-screen & fallback styles */
.session {
	margin-bottom:  0.5rem;
}



.venue-slot {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	z-index: 100;
}


.time-slot {
	display: none;
}

@supports( display:grid ) {
	@media screen and (min-width:600px), print {

		.schedule {
			display: grid;
			width: 100%;
			grid-column-gap: 10px;
			grid-row-gap: 5px;
			}

		.time-slot {
			grid-column: times;
			display: inline-block;
			font-size: .9rem;
		}

			.time-primary {
				color: #cbb417;
				border-top:1px solid #cbb417;
				padding-left: 2px;
			}
			
			.time-secondary {
				color: #82730f;
				border-top: 1px solid #82730f;
				padding-left: 2px;
				width: 85%;
			}
		

		.venue-slot {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 5px 5px;
			position: sticky;
			top: 0;
		}

		.session {
			margin: 0;
		} 

		.session
			.venue {
				display: none;
			}

	}
}


.session {
	padding: 5px;
	font-size: 1rem;
	min-width: 200px;
	border: 2px solid  #342b55;
	border-left: 2px solid #4f359b;
	border-bottom: 5px solid #4f359b;

	background-color: #342b55;
	color: white;
	box-shadow: unset;
	transition: box-shadow 1s ease-in-out;
	text-align: left;
	z-index: 3;
}

.session-time {
	font-size: 0.9rem;
	line-height: 0.9rem;
}

.session-title {
	font-weight: bold;
	font-size: 1.1rem;
	display: block;
	text-align: left;
	line-height: 1.2rem;
}

.session-venue {
	font-size: 0.8rem;
	color: #00a7a8;
}



.venue-slot  {
	font-size: 2rem;
	margin: -35px 0 10px 0;
	padding: 5px 2px 5px 2px;
	background-color: #cbb417;
	border-bottom: 5px solid #82730f;
	color: white;
	text-align: center;
}

.venue-all {
	display: flex;
	justify-content: left;
	align-items: left;
	background: #ccc;
	color: #000;
	box-shadow: none;
}



.session {
    position: relative;
    z-index: 1;
    padding: 5px;
    margin: 2px;
}

.session.canceled {
    background: rgba(255, 0, 0, 0.1); /* Halvány piros */
    text-decoration: line-through;
    z-index: 0; /* Háttérbe helyezés */
}

.session[data-overlay="true"]::after {
    content: "Átfedés!";
    position: absolute;
    bottom: -10px;
    right: -10px;
    font-size: 10px;
    color: red;
    background: yellow;
    padding: 2px;
    border-radius: 3px;
}
