


.session {
	padding: 5px;
	margin-top:  0.5rem;
	box-sizing: border-box;
	font-size: 1rem;
	min-width: 200px;
	border-left: 2px solid color-mix(in srgb, var(--secondary-background-color), white 25%);
	border-bottom: none;

	background-color: var(--secondary-background-color);
	color: white;
	box-shadow: unset;
	transition: box-shadow 1s ease-in-out;
	text-align: left;
	z-index: 3;

	position: relative;

	border-radius: 2px;
}

	.session.canceled {
		opacity: 0.5;
		z-index: 2;
		background-color: transparent;
		border: 1px dashed var(--secondary-background-color);
	}

		.overlapping-canceled {
			z-index: 1;
		}


.time-slot {
	display: none;
}


.session-time {
	font-size: 0.9rem;
	line-height: 0.9rem;
}

.session-title {
	font-size: 1.1rem;
	display: block;
	text-align: left;
	line-height: 1.2rem;
	padding-top: 0.5em;
}

.session-venue {
	font-size: 0.8rem;
	color: var(--venu-slot-text-color);
}



.venue-slot  {
	position: relative;
	z-index: 100;
	font-size: 2rem;
	margin: 25px 0 10px -10px;
	padding: 7px 3px 7px 3px;
	background-color: var(--venu-slot-background-color);
	border-bottom: 5px solid color-mix(in srgb, var(--venu-slot-background-color), black 25%);
	color: var(--venu-slot-text-color);
	text-align: center;
	display: inline-block
}

.venue-all {
	display: flex;
	justify-content: left;
	align-items: left;
	background: red;
	color: #000;
	box-shadow: none;
}


@supports( display:grid ) {
	@media screen and (min-width:600px), print {

		.schedule {
			display: grid;
			width: 100%;
			grid-column-gap: 10px;
			grid-row-gap: 5px;
			}

			.overlapping-canceled {
				z-index: 1;
				display: none;
			}

		.time-slot {
			grid-column: times;
			display: inline-block;
			font-size: .9rem;
		}

			.time-primary {
				color: var(--secondary-text-color);
				border-top:1px solid var(--highlight-color);
				padding-left: 2px;
			}
			
			.time-secondary {
				color: var(--primary-text-color);
				border-top: 1px solid var(--primary-text-color);
				padding-left: 2px;
				width: 85%;
			}
		

		.venue-slot {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: -35px 0 10px 0;
			padding: 10px 5px 5px;
			position: sticky;
			top: 0;
		}

		.session {
			margin: 0;
		} 

		.session
			.venue {
				display: none;
			}

	}
}


