body {
	background-image: url("/images/erdo.jpg");
	background-repeat: repeat-x;
}

header {
	width: 100% !important;
	display: flex !important;
	justify-content: unset !important;
	height: 150px;
}

	.foo-logo img {
		height: 150px;
	}
	
main,
footer {
	max-width: unset;
}

footer {
	text-align: left;
}





/* Small-screen & fallback styles */
.session {
	margin-bottom:  0.5rem;
}



.venue-slot {
	display: none; /* hidden on small screens and browsers without grid support */
}


.time-slot {
	display: none;
}

.vege {
	display: none;
}

@supports( display:grid ) {
	@media screen and (min-width:600px), print {

		.schedule {
			display: grid;
			width: 100%;
			grid-column-gap: 10px;
			grid-row-gap: 5px;
			}

		.time-slot {
			grid-column: times;
			display: inline-block;
			font-size: .9rem;
		}

			.egeszora {
				color: #00a7a8;
				border-top:1px solid #00a7a8;
				padding-left: 2px;
			}
			
			.nem_egeszora {
				color: #00a7a888;
				border-top: 1px solid #00a7a888;
				padding-left: 2px;
				width: 85%;
			}
		

		.venue-slot {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 5px 5px;
			position: sticky;
			top: 0;
			z-index: 100;
		}

		.session {
			margin: 0;
		} 

		.session
			.venue {
				display: none;
			}

		.vege {
			display: initial;
			opacity: 0.5;
		}

	}
}



/*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/



.session {
	padding: 5px;
	font-size: 1rem;
	min-width: 150px;
	border-left: 2px solid #002441;

	background-color: rgba(0,0,0,0.75);
	color: white;
	box-shadow: unset;
	transition: box-shadow 1s ease-in-out;
	text-align: left;
	z-index: 3;
}

	.session:hover {
		box-shadow: 0 0 20px #00335ea4;
		transition: box-shadow 1s ease-in-out;
	}

	
	.highlighted {
		border-left-color: #00a7a8;
	}

	.person {
		margin: 2px 5px 0 0;
		border-right-width: 5px;
		border-right-style: solid;
		margin: 0 -3px 0 0;
		padding-right: 5px;
		float: right;
		color: #00a7a8;
		white-space: nowrap;
	}



	.session-time {
		font-size: 0.9rem;
		line-height: 0.9rem;
	}

	.session-title {
		font-weight: bold;
		font-size: 1.1rem;
		display: block;
		text-align: left;
		line-height: 1.2rem;
	}

	.session-venue {
		font-size: 0.8rem;
		color: #00a7a8;
	}



.venue-slot  {
	font-size: 1rem;
	font-weight: bold;
	margin: -35px 0 10px 0;
	padding: 5px 2px 5px 2px;
	background-color:#002441EE;
	color: white;
	text-align: center;
}


.venue-all {
	display: flex;
	justify-content: left;
	align-items: left;
	background: #ccc;
	color: #000;
	box-shadow: none;
}



.nap_cim {
	position: absolute;
	left: 185px;
	top: 50px;
	padding: 5px 10px 5px 35px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0 5px 5px 0;
	text-shadow: 0 0 25px #002499;
}


.now {
	height: 0px;
	border-top: 1px solid #f007;
	box-shadow: 0 0 5px red;
	z-index: 2;
}

.elmarad::before {
	content: "Elmarad";
	border: 1px solid red;
	color: red;
	transform: rotate(-45deg);
	z-index: 4;
	position: absolute;
	margin-top: 7px;
	margin-left: 14px;
	background-color: black;
	padding: 5px;
	font-weight: bold;
	opacity: 0.9;
	text-transform: uppercase;
}


@media print {
	body {
		margin: unset;
		padding: unset;
		background: none;
		
	}

	footer {
		display: none;
	}

	header {
		height: 100px;
		background-image: url("/images/erdo.jpg");
		background-repeat: repeat-x;
		
	}

		.foo-logo img {
			margin-top: -10px;
			height: 115px;
		}

		.lbl-toggle::before {
			display: none;
		}
	.schedule {
		grid-row-gap: 0px;
	}
	.session {
		border: 1px solid rgba(0, 0, 0, 0.2) !important;
		border-left: 4px solid rgba(0, 0, 0, 1) !important;
		background-color: rgba(0, 0, 0, 0.1) !important;
		color: black !important;
		box-shadow: unset !important;
		padding: 5px;
		min-width: 150px;
		text-align: left;
	}

	.session-title {
		color: black;
		font-size: 1rem;
		font-weight: normal;
	}

	.session-time {
		color: black;
		font-size: 0.9rem;
	}

	.egeszora {
		color: black;
		border-top-color: black;
	}

	.nem_egeszora {
		color: #00000099;
		border-top-color: #00000099;
	}

	.nap_cim {
		position: absolute;
		left: 155px;
		top: 20px;
		padding: 5px 10px 5px 10px;
		background-color: rgba(0,0,0,0.5);
		border-radius: 0 5px 5px 0;
		text-shadow: 0 0 25px #002499;
	}
	.nap_cim h1 {
		line-height: 1rem;
	}

	.venue-slot {
		background-color: #002441;
	}




}