.repo-footer-links {
    display: flex;
    gap: 16px;
    align-items: center;
	flex-wrap: wrap;
}

.repo-footer-link-item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
    padding: 8px 12px 8px none;
    border-radius: 6px;
	text-wrap: nowrap;
}

.repo-footer-link-item:hover {
    color: var(--highlight-color);
}

.repo-footer-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    stroke: currentColor;
    fill: currentColor;
}
