.only-highlighted .session:not(.highlighted) {
    display: none;
}

.highlight-toggle {
    padding: 10px 15px;
    background-color: transparent;
    color: var(--primary-text-color);
    border: var(--primary-text-color) 2px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5em;

}

.highlight-toggle.active {
    background-color: var(--primary-background-color);
    border-color: var(--primary-background-color);
}

@supports( display:grid ) {
	@media screen and (min-width:600px), print {

        .highlight-toggle {
            display: none;
        }
        .only-highlighted .session:not(.highlighted) {
            display: block;  
        }
    }
}